<div id="footer">
    <footer class="position-footer-top">
        <div class="footer-bg-color">
            <div class="container g-pt-30">
                <div class="row footer-border-top align-items-center mt-footerxlg-25">
                    
                    <div class="col-md-8 text-center text-md-left g-mb-md-30">
                        <p class="float-md-left align-middle g-font-size-11 mb-0 ml-ftlinks-225 text-white">
                            <span class="text-white">
                                &#169; Copyright {{currentYear()}}. Contact: +234 707 609 8207 Email: obinnaogbonnajoseph@gmail.com
                            </span>
                        </p>

                    </div>
                    
                    <div class="col-md-4 g-mb-30 text-right text-white"></div>
                </div>
            </div>
        </div>
    </footer>
</div>