<div class="root" [class.hidden]="!userInitialized()">
  <!-- Header -->
  <header>
    <site-header></site-header>
  </header>
  <!-- End Header -->
  <!-- Content -->
  <main>
    <loader [class.hidden]="!loading"></loader>
    <div [class.hidden]="loading">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- End Content-->
  <!-- Footer -->
  <a class="js-go-to u-go-to-v1 g-width-40 g-height-40 g-color-white g-bg-main2 g-bg-main--hover g-bg-main--focus g-font-size-12 rounded"
    href="#" data-type="fixed" data-position='{"botton": 15, "right": 15}' data-offset-top="400" data-compensation="#js-header"
    data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>
  <footer>
    <site-footer></site-footer>
  </footer>
</div>
