html, body, p, h1, h2, h3, h4 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}


.m-large-logo img {
	max-width:300px !important;
}

@media (max-width:764px) {
	.m-large-logo img {
	margin-left: auto !important;
	margin-right: auto !important;
	padding-left: auto !important;
	padding-right:auto !important;
	max-width: 100% !important;
	text-align:center !Important;
}
	
}

.header-bg {
/* background: url(../../img/main-bg.jpg) no-repeat center !important; */
/* background: #e6e9de; */
background-size:cover !important;

}

.color-lemon {
	color:#B7DE42;
}

.bg-color-lemon {
	background-color:#B7DE42;
}
.color-white {
	color:#fff;
}

.white-button {
	background-color: #fff;
	padding:10px;
	border: 1px solid #fff;
	margin-left:10px;
}

.white-button:hover {
	border:1px solid #ddd;
	color:#389E24;
}

.green-button {
	background-color: #477549;
	padding:10px;
	border: 1px solid #477549;
	color:#fff;
	
}
.blue-button {
	background-color: #355671;
	padding:10px;
	border: 1px solid #477549;
	color:#fff;

}
.blue-button:hover {
	border:0px solid #3a8c3c;
	background-color: #477549;

}
.green-button:hover {
	border:0px solid #3a8c3c;
	background-color: #3a8c3c;
	
}
.yellow-button {
	background-color: #FFCD05;
	padding:10px;
	border: 1px solid #FFCD05;
	
}
.yellow-button:hover {
	border:1px solid #CAA200;
	
}

/*
.side-menu nav > ul > li {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
*/



.side-menu nav > ul > li a:hover {
	text-decoration: none !important;
	
}

.side-menu nav > ul > li:hover {
	text-decoration: none !important;
	background-color: #46a349!important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-left: -20px !important;
	margin-right: -20px !important;
}

.side-menu nav > ul > li:first-child :hover {
	margin-top:-7px !important;
	margin-bottom: 0px !important;
	padding-top: 14px !important;
	padding-bottom: 7px !important;
}

.side-menu nav > ul > li:last-child :hover {
	margin-bottom:-7px !important;
	margin-top: 0px !important;
	padding-bottom: 14px !important;
	padding-top: 7px !important;
}

.side-menu nav ul > li > ul > li:hover {
	background-color: #f2f4f2 !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	padding-bottom: 2px !important;
	margin-left: -12px !important;
	margin-right: -12px !important;
	margin-bottom: -2px !important;
	
}

.c-slider .slide-content {
	height: auto !important;
}



.validate-esbn-section {
	margin-bottom: 20px;
	background-color: #EBF9BF;
	background-color: #ddd;
	padding: 16px 10px;
}

.row.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.validate-esbn-section input {
	background-color: #fff !important;
	border-radius: 10px;
}

.validate-esbn-section .yellow-button {
	border-radius: 0px;
	
}


.uppercase {
	text-transform: uppercase !important;
}


@media (max-width:764px) {
	.mobile-margin-top-10 {
		margin-top: 10px !important;
	}
	.mobile-margin-bottom-20 {
		margin-bottom:20px !important;
	}
	.mobile-padding-bottom-20 {
	padding-bottom:20px !important;
}
	
}




.popular-service-heading {
color:#333;
display: block;
margin-bottom: 5px;
font-weight: bold;
text-transform: uppercase;
font-size: 18px;

}


.padding-bottom-40 {
	padding-bottom:40px;
}

.document-filesize {
	color:#444444;
}

/*
@media (min-width:764px) {
.header-inner {
	height:100px !important;
}

}

@media (min-width:764px) {
#header {
	max-height:80px !important;
	height:80px !important;
	margin-bottom:-10px !important;
	padding-bottom:-10px !important;
}

}*/

.tech-support-icon {
	border-right: 1px solid #ddd;
	text-align: right;
	padding-right: 20px;
	padding-bottom:20px;
	padding-top:10px;
}

.tech-support-text span {
	font-weight: 600 !important;
}

@media (min-width:764px) {
	
	
	
.footer-images {
	text-align:right;
	padding-right: 40px;
	margin-top:-4px;
}
	

}

.footer-images img {
	height:30px;
}
.byteone-powered {
	height:20px !important;
	margin-right:10px;
}

@media (max-width:764px) {
	.footer-images {
		margin-top:16px;
		text-align:center !important;
	}
	.tech-support-text span {
		font-size: 13px !important;
	}
	
}


.footer--has-background::before {

    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(rgba(242,242,242,0.7)));
    background-image: -webkit-linear-gradient(top, #f2f2f2, rgba(242,242,242,0.7));
    background-image: -moz-linear-gradient(top, #f2f2f2, rgba(242,242,242,0.7));
    background-image: -o-linear-gradient(top, #f2f2f2, rgba(242,242,242,0.7));
    background-image: linear-gradient(to bottom, #f2f2f2,rgba(242,242,242,0.7));
	background-size:cover;
	
}

.footer--has-background::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
	background-size:cover;
}


.header-tools {
    position: absolute;
    top: 40px;
    right: 0;
	text-align:right;
}
	
#footer {
background-size:cover!important;
}	

.go-submenu{
	border-bottom: 1px solid #80808011;
}
.go-bg-color1{
	/* background: #e6e9de; */

	background: url(../../../assets/img/gics-bg-img.png) no-repeat center !important;
}
	
	