<div class="page container">
    <div class="card">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{title}} Book</h4>
          <button type="button" class="close pull-right" aria-label="close"
            (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="mt-20 form-filter">
            <div class="form-instructions">
                {{title}} details of Book, then click <b>{{title}}.</b>
            </div>
            <form [formGroup]="form" (submit)="submit()">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Name</label>
                        <input type="text" class="form-control"
                        placeholder="Book Name" formControlName="name" required>
                    </div>
                    <div class="form-group col-md-12">
                            <label>Author</label>
                            <input type="text" class="form-control"
                            placeholder="Book Name" formControlName="author" required>
                    </div>
                    <div class="form-group col-md-12">
                            <label>Library Serial Number</label>
                            <input type="text" class="form-control"
                            placeholder="Book Name" formControlName="libNumber" required>
                    </div>
                    <br/>
                    <div class="col-md-12 text right">
                        <button class="btn btn-success search mt-2"
                            type="submit" [class.disabled]="!form.valid">
                            <i [ngClass]="{'fa fa-plus mr-1' : title === 'ADD', 'fa fa-edit mr-1' : title === 'UPDATE' }" *ngIf="!working"></i>
                            <i class="fa fa-spinner fa-pulse" *ngIf="working"></i>
                            &nbsp;{{title}}
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
